@import "tailwindcss";

@theme {
  /* font fam */
  --font-primary: "DM Sans", sans-serif;
  --font-baloo: "Baloo 2", sans-serif;
  --font-balooBhai: "Baloo Bhai 2", sans-serif;

  /* colors */
  --color-white: #ffffff;
  --color-green-primary: #447835;
  --color-green-secondary: #99d58d;

  /* #20662D;  30% opacity */
  --color-green-muted: rgba(32, 102, 45, 0.3);
  --color-yellow: #fbc93d;

  /* heatmap */
  --color-lightest: #f6fb7a;
  --color-light: #fbc93d;
  --color-medium: #f09313;
  --color-darkest: #a45c11;
}

.font-outline {
  text-shadow: 
    -0.5px -0.5px 0 black,  
     0.5px -0.5px 0 black,
    -0.5px  0.5px 0 black,
     0.5px  0.5px 0 black;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


/* resets */
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: var(--font-primary);
}

body {
  min-height: 100vh;
  width: 100%;
}

html, body {
  overflow-x: hidden;
}
