@import "tailwindcss";

@theme {
  /* font colors */
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "IBM Plex Mono", sans-serif;
  --font-baloo: "Baloo 2", sans-serif;
  --font-gummy: "Sour Gummy", sans-serif;
  --font-plexMono: "IBM Plex Mono", sans-serif;

  /* color palette */
  --primary-white: #f5f7f8;
  --primary-yellow: #f6e96b;
  --primary-green: #387f39;
  --secondary-green: #a2ca71;
  --primary-black: #222222;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* resets */
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  font-family: var(--font-primary);
  max-width: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  overscroll-behavior: contain;
}

html,
body {}
