@import "tailwindcss";

@theme {
  /* fonts */
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "IBM Plex Mono", sans-serif;
  --font-baloo: "Baloo 2", sans-serif;
  --font-gummy: "Sour Gummy", sans-serif;
  --font-plexMono: "IBM Plex Mono", sans-serif;
  --font-openSans: "Open Sans", sans-serif;

  /* color palette */
  --primary-white: #f5f7f8;
  --secondary-white: #d9d9d9;

  --primary-yellow: #fbc93d;
  --secondary-yellow: #ffe31a;

  --primary-green: #347928;
  --secondary-green: #c1f0a0;
  --tertiary-green: #99d58d;
  --fourth-green: #0d4715;

  --primary-orange: #f09319;
  --secondary-orange: #ffa725;

  --primary-black: #2c2c2c;
  --secondary-black: #222121;
  --tertiary-black: #303030;

  --primary-gray: #9c9a9a;

  --primary-red: #ff8383;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* resets */
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  font-family: var(--font-primary);
  max-width: 100%;
}

body {
  min-height: 100vh;
  width: inherit;
  overscroll-behavior: contain;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}
