@import "tailwindcss";

@theme {
  /* fonts */
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "IBM Plex Mono", sans-serif;
  --font-baloo: "Baloo 2", sans-serif;
  --font-gummy: "Sour Gummy", sans-serif;
  --font-plexMono: "IBM Plex Mono", sans-serif;
  --font-openSans: "Open Sans", sans-serif;
  --font-jersey: "Jersey 25", sans-serif;

  /* color palette */
  --primary-white: #f5f7f8;
  --secondary-white: #d9d9d9;

  --primary-yellow: #fbc93d;
  --secondary-yellow: #ffe31a;

  --primary-green: #347928;
  --secondary-green: #c1f0a0;
  --tertiary-green: #99d58d;
  --fourth-green: #0d4715;

  --primary-orange: #f09319;
  --secondary-orange: #fbc93d;

  --primary-black: #2c2c2c;
  --secondary-black: #222121;
  --tertiary-black: #303030;

  --primary-gray: #9c9a9a;

  --primary-red: #ff8383;

  /* vignette effect */
  --vignette-gradient: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* resets */
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  font-family: var(--font-primary);
  max-width: 100%;
}

body {
  min-height: 100vh;
  width: inherit;
  overscroll-behavior: contain;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

/* heatmap */
.color-empty {
  fill: #eee;
}

.color-low {
  fill: #b7ffbf;
}

.color-medium {
  fill: #95f985;
}

.color-high {
  fill: #4ded30;
}

.react-calendar-heatmap text {
  font-size: 0.5rem !important;
}
